.form {
    display: flex;
    height: 10%;
}

#input {
    width: 80%;
    padding: 5%;
    border: none;
    border-radius: 0;
    font-size: 1vw;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    background: #2979FF;
    display: inline-block;
    border: none;
    width: 20%;
    font-size: 1vw;
}

@media (max-width: 600px) {
    #input {
        font-size: 3vw;
    }

    .sendButton {
        font-size: 2.5vw;
    }
}