.answer-window {
    width: 25%;
    /*margin-top: 5%;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

#chosen-word {
    width: 98%;
    height: 10%;
    background: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hint-box {
    width: 98%;
    height: 10%;
    background: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-place-holder {
    font-size: 1.6vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#answer-input-container {
    margin: auto;
    width: 98%;
    height: 90%;
    padding-top: 2%;
}

#answer-input {
    border: none;
    height: 50px;
    font-size: 1em;
    width: 100%;
    padding: 2%;
    /*box-shadow: 0 0 18px #888888;*/
}

#chat-window {
    background: white;
    width: 100%;
    height: 100%;
    /*height: 400px;*/
}

#chat-window-header {
    height: 8%;
}

@media (max-width: 600px) {
    .answer-window {
        width: 50%;
        height: 100%;
    }
}