#current-players {
    width: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.current-score-card {
    width: 100%;
    height: auto;
    /*box-shadow: 0 0 7px #888888;*/
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    font-size: 1.2vw;
    background: beige;
}

#rankings-board-header {
    height: 3vw;
    background: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.avatar {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: #61dafb;
    margin-left: 3%;
}

.player-rankings {
    font-size: 1.8vw;
    margin: 1% 6% 1% 6%;
}

.pencil {
    width: 2.2vw;
    height: 2.2vw;
    background: url("../../Images/pencil-512.png");
    background-size: 100% 100%;
    transform: rotate(-25deg);
}

/*.player-name, .player-score {*/
/*    text-align: center;*/
/*}*/

@media (max-width: 600px) {
    #current-players {
        width: 40%;
    }

    .current-score-card {
        font-size: 3vw;
    }

    .player-rankings {
        font-size: 4vw;
    }

    .pencil {
        width: 6vw;
        height: 6vw;
    }
}

.crown-icon {
    color: orange;
    font-size: 1vw;
}

@media (max-width: 600px) {
    .crown-icon {
        font-size: 3vw;
    }
}
